name: Build LaTeX PDF

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1 Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️ Install LaTeX
      - name: Install TeX Live
        run: sudo apt-get update && sudo apt-get install -y texlive-full latexmk biber

      # 3️ Creazione cartella output
      - name: Create output folder
        run: mkdir -p output

      # 4 Compilazione PDF Final
      - name: Compile PDF Final
        run: |
          latexmk -pdf -interaction=nonstopmode -halt-on-error main.tex
          cp main.pdf output/main_final.pdf

      # 5 Upload PDF come artefatto
      - name: Upload PDF Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-pdfs
          path: output/
