name: Build LaTeX PDF

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache TeX Live
        uses: actions/cache@v3
        with:
          path: |
            ~/.texlive
            ~/.texmf-var
            ~/.texmf-config
          key: ${{ runner.os }}-texlive-2025

      - name: Install TeX Live
        run: sudo apt-get update && sudo apt-get install -y texlive-full latexmk biber

      - name: Create output folder
        run: mkdir -p output

      - name: Compile PDF Final
        run: |
          latexmk -pdf -interaction=nonstopmode -halt-on-error main.tex
          ls -l
          cp main.pdf output/main_final.pdf

      - name: Upload PDF Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: compiled-pdfs
          path: output/

      - name: Commit compiled PDF
        run: |
          git config user.name "GitHub Action"
          git config user.email "actions@github.com"
          git add output/main_final.pdf
          git commit -m "Update compiled PDF [skip ci]" || echo "No changes to commit"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
