
name: Correzione Grammaticale e Ortografica (Italiano)

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  lint_and_spell_check_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codice
        uses: actions/checkout@v4

      - name: Esecuzione di TeXtidote (LanguageTool - Italiano)
        uses: ChiefGokhlayeh/textidote-action@v5
        with:
          root_file: main.tex
          report_type: markdown
          report_file: report.md
          args: --check it --error-level info --encoding utf-8

      - name: Caricamento del Report
        uses: actions/upload-artifact@v4
        with:
          name: report-textidote
          path: report.md
          retention-days: 7
