
name: TeXtidote Grammar Check

on:
  pull_request:
    paths:
      - '**.tex'

jobs:
  textidote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run TeXtidote
        uses: ChiefGokhlayeh/textidote-action@v5
        with:
          root_file: main.tex
          report_type: markdown
          report_file: report-it.md
          args: "--check it --type tex --encoding utf-8 --remove envs figure table --remove-macros includegraphics --error-level info"
